<div class="container mt-5">
    <div class="row">
        <div class="col-sm mb-3">
            <img src="../../assets/images/productpage/resident-evil-village.webp" width="" class="img-fluid" alt="Resident Village">
        </div>
        <div class="col-sm mb-4">
            <h3>
                Resident Evil Village - PlayStation 4
            </h3>
            <p class="text-muted">från <a href="http://www.capcom-europe.com/" class="companyLink">Capcom</a></p>
            <br><br>
            <p class="">The next generation of survival horror rises in the form of Resident Evil Village, the eighth major entry in the Resident Evil series. With ultra-realistic graphics powered by the RE Engine, fight for survival as danger lurks around every
                corner. Years a…</p>
            <a (click)="scroll(target)" class="readMore">Läs mer <i class="fas fa-angle-down"></i></a>
        </div>
        <div class="col-lg mb-3">
            <div class="card checkoutCard">
                <div class="card-body">
                    <div class="d-flex">
                        <h1 class="priceInfo">628 kr</h1>
                        &nbsp;&nbsp;&nbsp;
                        <h1 class="priceInfo priceGuarantee">Prisgaranti</h1>
                    </div>
                    <h6 class="card-subtitle mb-2 priceInfo">Inkl. frakt</h6>
                    <br>
                    <h6 class="card-subtitle mb-2 inStore">I lager</h6>
                    <h6 class="card-subtitle mb-2 d-flex">
                        <h6 class="text-muted"> Leveranstid:</h6> &nbsp; 2-4 arbetsdagar</h6>
                    <button class="btn btn-primary" #target style="width: 100%;">Lägg i varukorgen</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Produktbeskrivning</h3>
            <p>The next generation of survival horror rises in the form of Resident Evil Village, the eighth major entry in the Resident Evil series. With ultra-realistic graphics powered by the RE Engine, fight for survival as danger lurks around every
                corner.
                <br><br> Years after the tragic events of Resident Evil 7 biohazard, Ethan Winters has started over with his wife Mia, finally living in peace and putting the past behind them. However, Chris Redfield, the legendary hero from previous
                Resident Evil games, suddenly disrupts their life, throwing a devastated Ethan into a new and twisted nightmare in search of answers.</p>
        </div>
        <div class="col-sm">
            <h3>Produktspecifikationer</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Språk</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-light">Språk i spelet</td>
                        <td>
                            <img src="../../assets/images/productIcons/brazilian.webp" alt="Brazilian flag">
                            <img src="../../assets/images/productIcons/english.webp" alt="English flag">
                            <img src="../../assets/images/productIcons/french.webp" alt="French flag">
                            <img src="../../assets/images/productIcons/italian.webp" alt="Italian flag">
                            <img src="../../assets/images/productIcons/japanese.webp" alt="Japanese flag">
                            <img src="../../assets/images/productIcons/russian.webp" alt="Russian flag">
                            <img src="../../assets/images/productIcons/spanish.webp" alt="Spanish flag">
                            <img src="../../assets/images/productIcons/german.webp" alt=" German flag">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-light">Språk på omslaget</td>
                        <td>
                            <img src="../../assets/images/productIcons/english.webp" alt="English flag">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-light">Språk på undertexter</td>
                        <td>
                            <img src="../../assets/images/productIcons/arabic.webp" alt="Arabic flag">
                            <img src="../../assets/images/productIcons/brazilian.webp" alt="Brazilian flag">
                            <img src="../../assets/images/productIcons/english.webp" alt="English flag">
                            <img src="../../assets/images/productIcons/french.webp" alt="French flag">
                            <img src="../../assets/images/productIcons/italian.webp" alt="Italian flag">
                            <img src="../../assets/images/productIcons/japanese.webp" alt="Japanese flag">
                            <img src="../../assets/images/productIcons/russian.webp" alt="Russian flag">
                            <img src="../../assets/images/productIcons/spanish.webp" alt="Spanish flag">
                            <img src="../../assets/images/productIcons/german.webp" alt=" German flag">
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Allmänt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-light">Produkt ID</td>
                        <td>2376UF</td>
                    </tr>
                    <tr>
                        <td class="table-light">SKU</td>
                        <td>1167394</td>
                    </tr>
                    <tr>
                        <td class="table-light">Titel</td>
                        <td>Resident Evil Village</td>
                    </tr>
                    <tr>
                        <td class="table-light">Utgivare</td>
                        <td><a href="https://www.capcom-europe.com/">Capcom</a></td>
                    </tr>
                    <tr>
                        <td class="table-light">Utgivningsdatum</td>
                        <td>maj 7, 2021</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Demografi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-light">Område</td>
                        <td>Engelsk</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ytterligare info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-light">Genre</td>
                        <td>Shooter, skräck</td>
                    </tr>
                    <tr>
                        <td class="table-light">PEGI</td>
                        <td>
                            <img src="../../assets/images/productIcons/18.webp" alt="Age restriction icon">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-light">Plattform</td>
                        <td>PlayStation 4</td>
                    </tr>
                    <tr>
                        <td class="table-light">Spelserie</td>
                        <td>Resident Evil</td>
                    </tr>
                    <tr>
                        <td class="table-light">USK på disk</td>
                        <td>
                            <img src="../../assets/images/productIcons/usk.webp" alt="USK icon">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-light">Utgåva</td>
                        <td>Standard</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<app-footer></app-footer>