<footer class="page-footer bg-light text-dark">
    <hr class="mt-0">
    <div class="container footerContent text-center text-md-left">
        <div class="col-md-8 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4 font-small ">Prenumerera på vårt nyhetsbrev</h5>
            <p class="text-center subscriptionText">Ja tack, jag skulle vilja få nyhetsbrev och skräddarsydd marknadsföring från Nord Gaming inom våra produktkategorier via e-post. <br>Jag kan enkelt, när som helst, återkalla mitt medgivande och avsluta prenumerationen. <a href="/">Läs mer om Godkännande
        för E-postmarknadsföring</a></p>
        </div>
        <div class="container">
            <form>
                <div class="mb-4 d-flex justify-content-center row footerForm">
                    <label for="newsletterEmail" class="form-label"></label>
                    <input type="email" class=" me-2 col-md-6 formControl me-0" id="newsletterEmail" placeholder="Din e-postaddress" aria-describedby="emailHelp">
                    <button type="submit" class="btn btn-outline-success col-md-2">Prenumenera!</button>
                </div>
            </form>
        </div>
        <div class="row text-start footer-links d-flex justify-content-center">
            <div class="col-md-2 ">
                <h5 class="mt-3 mb-2">AVDELNINGAR</h5>

                <ul class="list-inline">
                    <li>
                        <a href="/">Playstation 4</a>
                    </li>
                    <li>
                        <a href="/">Nintendo Switch</a>
                    </li>
                    <li>
                        <a href="/">Xbox One</a>
                    </li>
                    <li>
                        <a href="/">PC</a>
                    </li>
                    <li>
                        <a href="/">Playstation 3</a>
                    </li>
                    <li>
                        <a href="/">Nintendo 3DS</a>
                    </li>
                    <li>
                        <a href="/">Xbox 360</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 ">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Avdelningar</h5>

                <ul class="list-inline">
                    <li>
                        <a href="/">Wii U</a>
                    </li>
                    <li>
                        <a href="/">Wii</a>
                    </li>
                    <li>
                        <a href="/">Nintendo DS</a>
                    </li>
                    <li>
                        <a href="/">Playstation Vita</a>
                    </li>
                    <li>
                        <a href="/">Playstation 2</a>
                    </li>
                    <li>
                        <a href="/">Playstation Portable</a>
                    </li>
                    <li>
                        <a href="/">Retrospel och mikrokonsoler</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 ">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Kundtjänst</h5>

                <ul class="list-inline">
                    <li>
                        <a href="/profile">Mitt konto</a>
                    </li>
                    <li>
                        <a href="/">Mina nerladdningar</a>
                    </li>
                    <li>
                        <a href="/">Mina beställningar</a>
                    </li>
                    <li>
                        <a href="/">Prisgaranti</a>
                    </li>
                    <li>
                        <a href="/">Gratis frakt</a>
                    </li>
                    <li>
                        <a href="/">Betalningsalternativ</a>
                    </li>
                    <li>
                        <a href="/">Tjäna rabbatpoäng</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 ">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Information</h5>

                <ul class="list-inline">
                    <li>
                        <a href="/">Villkor</a>
                    </li>
                    <li>
                        <a href="/">Privacy</a>
                    </li>
                    <li>
                        <a href="/">Om Nord Gaming</a>
                    </li>
                    <li>
                        <a href="/">Cookies</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 ">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Nord Gaming</h5>

                <ul class="list-inline">
                    <li>
                        <a href="/">Vi köper dina gamla spel</a>
                    </li>
                    <li>
                        <a href="/">Gamecube</a>
                    </li>
                    <li>
                        <a href="/">Playstation 2</a>
                    </li>
                    <li>
                        <a href="/">Playstation 1</a>
                    </li>
                    <li>
                        <a href="/">Nintendo DS</a>
                    </li>
                    <li>
                        <a href="/">Nintendo 64</a>
                    </li>
                    <li>
                        <a href="/">Super Nintendo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="d-flex justify-content-center">
        <a class="navbar-brand" id="footerImage" routerLink="/">
            <img src="./../assets/svg/logo1.svg" width="80rem" class="img-fluid" alt="">
            <img src="./../assets/svg/logo2.svg" width="80rem" class="img-fluid" alt="">
            <img src="./../assets/svg/logo3.svg" width="100rem" class="img-fluid" alt="">
        </a>
    </div>
    <div class="text-center py-3 mb-0 blockquote-footer">
        <p>© 2021 Copyright: Nord Gaming</p>
    </div>
</footer>