<div class="container">
    <div class="col-lg text-center ">
        <a href="/">
            <img class="img-fluid" src="../../assets/images/mainpage/cover.webp" width="2000rem" class="coverImage img-fluid" alt="">
        </a>
    </div>
</div>

<div class="col-lg text-center mt-4 mb-2">
    <div class="fs-3 text-center col mb-3" data-aos="fade-in">Utvalda erbjudanden och produkter</div>
    <div class="d-flex justify-content-center">
        <div class=" d-flex row me-0 ">
            <div class="col-md pe-0 ">
                <figure class="figure container">
                    <a href="/product">
                        <img src="../../assets/images/mainpage/resident.webp" width="540rem" data-aos="zoom-in" data-aos-duration="1000" class="productImage img-fluid" alt="Resident Evil">
                    </a>
                    <figcaption class="text-start ps-2 ">Resident Evil Village - Playstation 5</figcaption>
                </figure>
            </div>
            <div class="col-md pe-0">
                <figure class="figure container ">
                    <a href="/">
                        <img src="../../assets/images/mainpage/mario.webp" width="540rem" data-aos="zoom-in" data-aos-duration="1500" class="productImage img-fluid " alt="Super Mario">
                    </a>
                    <figcaption class="text-start ps-2">Super Mario 3D World + Bowser's Fury /Nintendo Switch</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="d-flex row me-0">
            <div class="col-md pe-0 ">
                <figure class="figure container">
                    <a href="/">
                        <img src="../../assets/images/mainpage/pokemon.webp" width="540rem" data-aos="zoom-in" data-aos-duration="2000" class="productImage img-fluid" alt="Pokémon Snap">
                    </a>
                    <figcaption class="text-start ps-2">New Pokémon Snap - Nintendo Switch</figcaption>
                </figure>
            </div>
            <div class="col-md pe-0 ">
                <figure class="figure container">
                    <a href="/">
                        <img src="../../assets/images/mainpage/masseffect.webp" width="540rem" data-aos="zoom-in" data-aos-duration="2500" class="productImage img-fluid " alt="Mass Effect">
                    </a>
                    <figcaption class="text-start ps-2">Mass Effect Legendary Edition - PlayStation 4</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="container text-center mt-2">
        <div class="row row-cols-auto d-flex justify-content-center">
            <figure class="figure">
                <a href="/">
                    <img src="../../assets/images/mainpage/dance.webp" width="255rem" data-aos="zoom-in" data-aos-duration="1000" class="productImage img-fluid m-2" alt="Just Dance">
                </a>
                <figcaption class="text-start ps-3">Just Dance 2021 </figcaption>
            </figure>
            <figure class="figure">
                <a href="/">
                    <img src="../../assets/images/mainpage/crossing.webp" width="255rem" data-aos="zoom-in" data-aos-duration="1500" class="productImage img-fluid m-2" alt="Animal Crossing">
                </a>
                <figcaption class="text-start ps-3">Animal Crossing</figcaption>
            </figure>
            <figure class="figure">
                <a href="/">
                    <img src="../../assets/images/mainpage/fifa.webp" width="255rem" data-aos="zoom-in" data-aos-duration="2000" class="productImage img-fluid m-2" alt="FIFA 2021">
                </a>
                <figcaption class="text-start ps-3">FIFA 2021</figcaption>
            </figure>
            <figure class="figure">
                <a href="/">
                    <img src="../../assets/images/mainpage/lego.webp" width="255rem" data-aos="zoom-in" data-aos-duration="2500" class="productImage img-fluid m-2" alt="LEGO Super Mario">
                </a>
                <figcaption class="text-start ps-3">LEGO Super Mario</figcaption>
            </figure>
        </div>
    </div>
</div>

<!--Footer-->
<app-footer></app-footer>