<div class="container">
    <div class="col-lg text-center ">
        <img class="img-fluid" src="../../assets/images/mainpage/cover.png" width="2000rem" class="coverImage img-fluid" alt="">
    </div>
</div>



<div class="col-lg text-center mt-4">
    <div class="fs-3 text-center col mb-2" data-aos="fade-in">Utvalda erbjudanden och produkter</div>
    <div class="d-flex">
        <div class="col ">
            <figure class="figure">
                <img src="../../assets/images/mainpage/resident.png" width="500rem" data-aos="zoom-in" data-aos-duration="1000" class="productImage img-fluid m-2" alt="Resident Evil">
                <figcaption class="text-start ps-3">Resident Evil Village - Playstation 5</figcaption>
            </figure>
            <figure class="figure">
                <img src="../../assets/images/mainpage/mario.png" width="500rem" data-aos="zoom-in" data-aos-duration="1500" class="productImage img-fluid m-2" alt="Super Mario">
                <figcaption class="text-start ps-3">Super Mario 3D World + Bowser's Fury /Nintendo Switch</figcaption>
            </figure>
        </div>
    </div>

    <div class="d-flex">
        <div class="col">
            <figure class="figure">
                <img src="../../assets/images/mainpage/pokemon.png" width="500rem" data-aos="zoom-in" data-aos-duration="2000" class="productImage img-fluid m-2" alt="Pokémon Snap">
                <figcaption class="text-start ps-3">New Pokémon Snap - Nintendo Switch</figcaption>
            </figure>
            <figure class="figure">
                <img src="../../assets/images/mainpage/masseffect.png" width="500rem" data-aos="zoom-in" data-aos-duration="2500" class="productImage img-fluid m-2" alt="Mass Effect">
                <figcaption class="text-start ps-3">Mass Effect Legendary Edition - PlayStation 4</figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="col-lg text-center mt-4">
    <div class="col d-flex justify-content-center">
        <figure class="figure">
            <img src="../../assets/images/mainpage/dance.jpg" width="242rem" data-aos="zoom-in" data-aos-duration="1000" class="productImage img-fluid m-2" alt="Just Dance">
            <figcaption class="text-start ps-3">Just Dance 2021 </figcaption>
        </figure>
        <figure class="figure">
            <img src="../../assets/images/mainpage/crossing.jpg" width="242rem" data-aos="zoom-in" data-aos-duration="1500" class="productImage img-fluid m-2" alt="Animal Crossing">
            <figcaption class="text-start ps-3">Animal Crossing</figcaption>
        </figure>
        <figure class="figure">
            <img src="../../assets/images/mainpage/fifa.jpg" width="242rem" data-aos="zoom-in" data-aos-duration="2000" class="productImage img-fluid m-2" alt="FIFA 2021">
            <figcaption class="text-start ps-3">FIFA 2021</figcaption>
        </figure>
        <figure class="figure">
            <img src="../../assets/images/mainpage/lego.jpg" width="242rem" data-aos="zoom-in" data-aos-duration="2500" class="productImage img-fluid m-2" alt="LEGO Super Mario">
            <figcaption class="text-start ps-3">LEGO Super Mario</figcaption>
        </figure>
    </div>
</div>