.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 2rem;
}

.user-profile {
    background: linear-gradient(to right, #6F87D6, #234fe0);
}

.card-block {
    padding: 1.25rem;
}

.text-muted {
    color: #919aa3 !important;
}

.header {
    font-size: 0.95rem;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 600;
}

p {
    margin-bottom: 0.3rem;
    font-weight: 600;
}