<div class="wrapper">
    <br><br><br><br><br><br><br>
    <div class="container" data-aos="zoom-in">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div *ngIf="showPopup" class="alert alert-danger" role="alert">
                            E-postaddress eller lösenord var fel. Vänligen försök igen.
                        </div>
                        <h4 class="card-title text-center">Logga in</h4>
                        <form (submit)="validateForm()" class="form-signin">
                            <div class="form-label-group">
                                <label for="email"></label>
                                <input type="email" class="form-control" name="email" placeholder="E-postaddress" [(ngModel)]="credentials.email" required/>
                            </div>
                            <div class="form-label-group">
                                <label for="password"></label>
                                <input type="password" class="form-control" name="password" placeholder="Lösenord" [(ngModel)]="credentials.password" required/>
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary  text-uppercase">Logga in</button>
                        </form>
                        <hr>
                        <p class="text-muted">
                            Har du inte ett konto? <a routerLink="/register">Skapa konto</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>